:root{
    --red: #940101;
    --blue: #052541;
    --lt-gray: #eaeaea;
    --med-gray: #555;
    --dk-gray: #222;
}

body{
    line-height: 1.35;
    color: var(--dk-gray);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

header, main, footer{
    width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

header, footer{
    background-color: var(--lt-gray);
    text-align: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
    width: 300px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

nav a{
    text-decoration: none;
    background-color: var(--blue);
    color: var(--lt-gray);
}

nav a:hover{
    background-color: var(--red);
    color: var(--lt-gray);
}

a{
    color: var(--blue);
    padding: 1rem;
}

a:hover{
    color: var(--red);
}

h2, h3{
    margin: 1rem 0 0.25rem 0;
}

h2{
    text-align: center;
}

main > section{
    max-width: 65ch;
    margin: 1rem auto;
}

section > ul{
    max-width: 65ch;
    margin: 0 auto;
}

section > section{
    max-width: 65ch;
    margin: 0 auto 1rem auto;
    /* padding: 1rem 0; */
}

p{
    max-width: 65ch;
    margin: 1rem auto;
}

#btt a{
    display: block;
    margin-top: 2rem;
    text-align: right;
    text-decoration: none;
}

#btt a:hover span{
    background-color: var(--red);
}

#btt span{
    background-color: var(--blue);
    color: var(--lt-gray);
    padding: 0.5rem;
    margin: 0 1rem;
    border-radius: 50%;
}

#about{
    text-align: center;
    margin: 3rem auto;
}

#contact{
    margin: 3rem auto;
}

#contact p{
    text-align: center;
    margin: 0.5rem auto;
}

.required{
    color: var(--red);
}

form{
    width: 250px;
    margin: 1rem auto;
}

input, label, textarea{
    display: block;
    font-size: 1rem;
}

label{
    margin: 1rem 0 0.25rem 0;
}

input, textarea{
    padding: 0.5rem;
    width: 85%;
    margin: 0 auto;
    border: none;
    background-color: var(--lt-gray);
}

#my_submit{
    padding: 1rem;
    margin: 1rem auto;
    background-color: var(--blue);
    color: var(--lt-gray);
    font-weight: bold;
    letter-spacing: 1px;
}

#my_submit:hover{
    background-color: var(--red);
}

footer a, main ul a, p a{
    padding: 0;
}
